node_modules
!node_modules/.prisma
.npm
.next
out
build
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
.dockerignore
.vscode
.idea
Dockerfile
docker-compose.yml
README.md
*.md
.DS_Store
Thumbs.db
prisma/dev.db
prisma/dev.db-journal

# Database backups
*.sql
backup_*.sql
