node_modules
!node_modules/.prisma
.next
out
build
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.vscode
.idea
Dockerfile
docker-compose.yml
README.md
.gitignore
.dockerignore
prisma/dev.db
prisma/dev.db-journal

# Database backups
*.sql
backup_*.sql
