--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: Provider; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Provider" AS ENUM (
    'Google'
);


ALTER TYPE public."Provider" OWNER TO postgres;

--
-- Name: StreamType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StreamType" AS ENUM (
    'Spotify',
    'Youtube'
);


ALTER TYPE public."StreamType" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: CurrentStream; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CurrentStream" (
    "userId" text NOT NULL,
    "streamId" text
);


ALTER TABLE public."CurrentStream" OWNER TO postgres;

--
-- Name: Stream; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Stream" (
    id text NOT NULL,
    type public."StreamType" NOT NULL,
    url text NOT NULL,
    "extractedId" text NOT NULL,
    title text DEFAULT ''::text NOT NULL,
    "smallImg" text DEFAULT ''::text NOT NULL,
    "bigImg" text DEFAULT ''::text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    played boolean DEFAULT false NOT NULL,
    "playedTs" timestamp(3) without time zone,
    "addedById" text NOT NULL
);


ALTER TABLE public."Stream" OWNER TO postgres;

--
-- Name: Upvote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Upvote" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "streamId" text NOT NULL
);


ALTER TABLE public."Upvote" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    provider public."Provider" NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: CurrentStream; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CurrentStream" ("userId", "streamId") FROM stdin;
ff79778f-b1ec-4a5b-9ca5-9177db586af0	\N
7648f254-08e6-4196-8966-7687e022bb24	\N
\.


--
-- Data for Name: Stream; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Stream" (id, type, url, "extractedId", title, "smallImg", "bigImg", active, "userId", "createdAt", played, "playedTs", "addedById") FROM stdin;
\.


--
-- Data for Name: Upvote; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Upvote" (id, "userId", "streamId") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, email, provider) FROM stdin;
ff79778f-b1ec-4a5b-9ca5-9177db586af0	aakashj853@gmail.com	Google
7648f254-08e6-4196-8966-7687e022bb24	aakash.joshi.cs@gmail.com	Google
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: CurrentStream CurrentStream_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CurrentStream"
    ADD CONSTRAINT "CurrentStream_pkey" PRIMARY KEY ("userId");


--
-- Name: Stream Stream_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stream"
    ADD CONSTRAINT "Stream_pkey" PRIMARY KEY (id);


--
-- Name: Upvote Upvote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Upvote"
    ADD CONSTRAINT "Upvote_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: CurrentStream_streamId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CurrentStream_streamId_key" ON public."CurrentStream" USING btree ("streamId");


--
-- Name: Upvote_userId_streamId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Upvote_userId_streamId_key" ON public."Upvote" USING btree ("userId", "streamId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: CurrentStream CurrentStream_streamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CurrentStream"
    ADD CONSTRAINT "CurrentStream_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES public."Stream"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Stream Stream_addedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stream"
    ADD CONSTRAINT "Stream_addedById_fkey" FOREIGN KEY ("addedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Stream Stream_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stream"
    ADD CONSTRAINT "Stream_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Upvote Upvote_streamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Upvote"
    ADD CONSTRAINT "Upvote_streamId_fkey" FOREIGN KEY ("streamId") REFERENCES public."Stream"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Upvote Upvote_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Upvote"
    ADD CONSTRAINT "Upvote_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

